OI/gan/wynik.txt
OI/gan/gan1.in
OI/gan/gan2.in
OI/tab/in.txt
OI/tab/tab1.out
OI/tab/tab2.out
OI/tab/tab3.out
OI/tab/tab3.in
OI/tab/tab2.in
OI/tab/tab1.in
OI/tab/wynik.txt
lekcje/calkowanie_numeryczne/figura.txt
lekcje/playfair/stt.exe
lekcje/playfair/stt.cpp
lekcje/playfair/nbi.exe
lekcje/playfair/nbi.cpp
lekcje/calkowanie_numeryczne/b.exe
lekcje/calkowanie_numeryczne/b.cpp
lekcje/calkowanie_numeryczne/a.exe
lekcje/calkowanie_numeryczne/a.cpp
OI/gra/gra.cpp
OI/gra/gra0.in
OI/gra/gra1.in
OI/gra/gra2.in
OI/gra/gra3.in
OI/gra/wynik.txt
OI/gra/gra.txt
OI/cuk/dane.txt
OI/gra/gra.txt
lekcje/gameoflife/game_of_life.txt
OI/gra/gra.txt
test/adresy.exe
lekcje/gameoflife/gol.exe
OI/cuk/cuk.exe
OI/gra/gra.exe
OI/gra_v2/gra.exe
test/adresy.exe
OI/gra/gra.exe
